In [2]:
import pandas as pd
import numpy as np
import re
import os
from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

In [3]:
source = 'source/WPP2015_INT_F02A_1_ANNUAL_POPULATION_INDICATORS_BOTH_SEXES.XLS'

In [26]:
data_est = pd.read_excel(source, sheetname='ESTIMATES', skiprows=16, header=None)

In [27]:
data_var = pd.read_excel(source, sheetname='MEDIUM VARIANT', skiprows=16, header=None)

In [28]:
data_var.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,Index,Variant,"Major area, region, country or area *",Notes,Country code,Reference date (as of 1 July),Alive between birth and age 1,Population under age 2,Population under age 5,Population under age 15,...,Population aged 25 or over,Population aged 50 or over,Population aged 60 or over,Population aged 65 or over,Population aged 70 or over,Population aged 75 or over,Population aged 80 or over,Population aged 85 or over,Population aged 90 or over,Total
1,1,Medium variant,WORLD,NaN,900,2015,136505,272228,670928,1.91581e+06,...,4.24009e+06,1.64235e+06,900906,608180,393133,239925,125273,53823.5,16761.3,7.34947e+06
2,2,Medium variant,WORLD,NaN,900,2016,136805,273145,675011,1.93076e+06,...,4.31275e+06,1.68714e+06,928952,629487,404424,246807,130991,57240.1,18527.3,7.43266e+06
3,3,Medium variant,WORLD,NaN,900,2017,136960,272692,677197,1.94419e+06,...,4.38451e+06,1.73323e+06,956949,652501,416128,252843,136259,60088.3,20132.2,7.51528e+06
4,4,Medium variant,WORLD,NaN,900,2018,136987,272214,677912,1.95614e+06,...,4.45507e+06,1.78035e+06,985368,676634,428570,258399,140773,62277.8,21343.7,7.59718e+06

In [30]:
data_est.tail()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
15902,15902,Estimates,Tonga,NaN,776,2011,2.758,5.498,13.686,39.012,...,45.941,15.365,8.355,6.135,4.246,2.638,1.386,0.537,0.152,104.392
15903,15903,Estimates,Tonga,NaN,776,2012,2.718,5.356,13.524,39.057,...,45.979,15.599,8.377,6.162,4.269,2.677,1.428,0.579,0.162,104.769
15904,15904,Estimates,Tonga,NaN,776,2013,2.673,5.241,13.305,39.056,...,45.958,15.819,8.414,6.189,4.282,2.705,1.458,0.612,0.17,105.139
15905,15905,Estimates,Tonga,NaN,776,2014,2.628,5.139,13.086,39.04,...,45.964,16.054,8.502,6.213,4.29,2.72,1.476,0.631,0.178,105.586
15906,15906,Estimates,Tonga,NaN,776,2015,2.585,5.059,12.91,39.032,...,46.058,16.325,8.66,6.236,4.294,2.723,1.479,0.634,0.178,106.17

In [34]:
data_est.columns = data_est.ix[0].map(to_concept_id)

In [36]:
data_est = data_est.drop(['index', 'notes'], axis=1)

In [37]:
data_est.head()

,variant,major_area_region_country_or_area,country_code,reference_date_as_of_1_july,alive_between_birth_and_age_1,population_under_age_2,population_under_age_5,population_under_age_15,population_under_age_18,population_under_age_20,...,population_aged_25_or_over,population_aged_50_or_over,population_aged_60_or_over,population_aged_65_or_over,population_aged_70_or_over,population_aged_75_or_over,population_aged_80_or_over,population_aged_85_or_over,population_aged_90_or_over,total
0,Variant,"Major area, region, country or area *",Country code,Reference date (as of 1 July),Alive between birth and age 1,Population under age 2,Population under age 5,Population under age 15,Population under age 18,Population under age 20,...,Population aged 25 or over,Population aged 50 or over,Population aged 60 or over,Population aged 65 or over,Population aged 70 or over,Population aged 75 or over,Population aged 80 or over,Population aged 85 or over,Population aged 90 or over,Total
1,Estimates,WORLD,900,1950,87159.2,149824,337432,867267,1.01265e+06,1.1059e+06,...,1.19747e+06,398297,202088,128666,73559.3,36199.1,14201.8,4622.94,1172.58,2.52515e+06
2,Estimates,WORLD,900,1951,87159.2,158223,356128,891587,1.03927e+06,1.133e+06,...,1.21463e+06,404721,205407,131572,75712.8,37773.4,15183.5,4965.38,1281.84,2.57187e+06
3,Estimates,WORLD,900,1952,87328.7,164146,372562,914984,1.06533e+06,1.15999e+06,...,1.23204e+06,411195,208317,134134,77451.2,38962.9,15964.2,5182.38,1374.38,2.61794e+06
4,Estimates,WORLD,900,1953,87768.6,168831,385621,937356,1.09019e+06,1.18636e+06,...,1.25037e+06,417970,211000,136330,78767.5,39723.7,16437,5246.37,1414.08,2.66403e+06

In [95]:
data_var.columns = data_var.ix[0].map(to_concept_id)
data_var = data_var.drop(['index', 'notes'], axis=1)

In [70]:
concs = data_est.ix[0].T

In [71]:
concs.index.name = 'concept'
concs.name = 'name'

In [72]:
concs = concs.rename(index={'reference_date_as_of_1_july': 'year'})

In [73]:
concs = concs.reset_index()

In [74]:
concs['concept_type'] = 'string'

concs['concept_type'].iloc[2] = 'entity_domain'
concs['concept_type'].iloc[3] = 'time'
concs['concept_type'].iloc[4:] = 'measure'

In [75]:
concs = concs.append(pd.DataFrame([['name', 'Name', 'string']], columns=concs.columns))

In [76]:
concs.sort_index().to_csv('../ddf--concepts.csv', index=False)

In [77]:
# country

In [78]:
entity = data_est.drop(0)[['major_area_region_country_or_area', 'country_code']]

In [82]:
entity.drop_duplicates().to_csv('../ddf--entities--country.csv', index=False)

In [83]:
# data point

In [96]:
dp_1 = data_est.drop(0).drop('major_area_region_country_or_area', axis=1)
dp_2 = data_var.drop(0).drop('major_area_region_country_or_area', axis=1)

In [105]:
dp = pd.concat([dp_1, dp_2])

In [106]:
dp = dp.rename(columns={'reference_date_as_of_1_july': 'year'})

In [107]:
dp = dp.set_index(['country_code', 'year', 'variant'])

In [108]:
for name, df in dp.iteritems():
    path = os.path.join('../', 'ddf--datapoints--{}--by--country_code--year.csv'.format(name))
    df.reset_index().sort_values(by=['country_code', 'year']).to_csv(path, index=False)