In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.insert(0, '../scripts')

In [3]:
import etl_new as etl
import pandas as pd

In [5]:
loc = etl.location_metadata()

In [6]:
loc['Name'].unique()

array([nan, 'Label/Separator', 'Development group', 'Income group',
       'Geographic region', 'SDG region', 'Subregion', 'Country/Area',
       'SDG subregion'], dtype=object)

In [7]:
loc.columns

Index(['Index', 'Region, subregion, country or area*', 'Notes',
       'Location code', 'ISO3 Alpha-code', 'Code', 'Name',
       'Parent Location code', 'Code.1', 'Code.2', 'Name.1', 'Code.3',
       'Name.2', 'Code.4', 'Name.3', 'Code.5', 'Name.4',
       'More developed regions\n901', 'Less developed regions\n902',
       'Least developed countries\n941',
       'Less developed regions, excluding least developed countries\n934',
       'Less developed regions, excluding China\n948',
       'Land-Locked Developing Countries (LLDC)\n1636',
       'Small Island Developing States (SIDS)\n1637',
       'High-income Countries\n1503', 'Middle-income Countries\n1517',
       'Upper-middle-income Countries\n1502',
       'Lower-middle-income Countries\n1501', 'Low-income Countries\n1500',
       'No income group available\n1518'],
      dtype='object')

In [19]:
EntityDomain?

In [79]:
domain = etl.create_geo_domain(loc)

In [78]:
domain.entities[0]

Entity(id='900', domain='geo', sets=['global'], props={'name': 'WORLD'})

In [80]:
domain.entities[50]

Entity(id='266', domain='geo', sets=['country'], props={'name': 'Gabon', 'iso3': 'GAB', 'subregion': '911', 'sdg_region': '947', 'geographic_region': '903', 'un_development_group': '903, 903, 903', 'wb_income_group': '903, 903'})

In [81]:
domain.entity_sets

['wb_income_group',
 'country',
 'sdg_subregion',
 'sdg_region',
 'subregion',
 'geographic_region',
 'global',
 'un_development_group']

In [83]:
for s in domain.entity_sets:
    ent_df = pd.DataFrame.from_dict(domain.to_dict(eset=s))
    ent_df.to_csv(f'../../ddf--entities--geo--{s}.csv', index=False)

In [60]:
ent = domain.get_entity_set('global')

In [61]:
ent

[Entity(id=900, domain='geo', sets=['global'], props={'name': 'WORLD'})]

In [50]:
domain_df = pd.DataFrame.from_dict(domain.to_dict())

In [51]:
domain_df.head()

,geo,is--global,name,is--wb_income_group,is--country,is--sdg_subregion,is--sdg_region,is--subregion,is--geographic_region,is--un_development_group,subregion,sdg_region,geographic_region,un_development_group,wb_income_group,sdg_subregion
0,900,TRUE,WORLD,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,NaN,NaN,NaN
1,901,FALSE,More developed regions,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,NaN,NaN,NaN,NaN,NaN,NaN
2,902,FALSE,Less developed regions,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,NaN,NaN,NaN,NaN,NaN,NaN
3,941,FALSE,Least developed countries,FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,NaN,NaN,NaN,NaN,NaN,NaN
4,934,FALSE,"Less developed regions, excluding least develo...",FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
domain_df.to_csv('../../ddf--entities--geo.csv', index=False)

In [35]:
domain_df.columns

Index(['geo', 'name', 'is--wb_income_group', 'is--country',
       'is--sdg_subregion', 'is--subregion', 'is--sdg_region',
       'is--geographic_region', 'is--un_development_group', 'subregion',
       'sdg_region', 'geographic_region', 'un_development_group',
       'wb_income_group', 'sdg_subregion'],
      dtype='object')

In [41]:
entity_map = {'Development group': 'un_development_group',
                  'Income group': 'wb_income_group',
                  'Geographic region': 'geographic_region',
                  'SDG region': 'sdg_region',
                  'SDG subregion': 'sdg_subregion',
                  'Subregion': 'subregion',
                  'Country/Area': 'country'}

_t = pd.DataFrame.from_dict(entity_map, orient='index').reset_index()
_t['concept_type'] = 'entity_set'
_t['domain'] = 'geo'

In [42]:
print(_t[[0, 'index', 'concept_type', 'domain']].to_csv(index=False))

0,index,concept_type,domain
un_development_group,Development group,entity_set,geo
wb_income_group,Income group,entity_set,geo
geographic_region,Geographic region,entity_set,geo
sdg_region,SDG region,entity_set,geo
sdg_subregion,SDG subregion,entity_set,geo
subregion,Subregion,entity_set,geo
country,Country/Area,entity_set,geo

In [85]:
!ls ../source/csv

WPP2019_LifeTable.csv
WPP2019_Period_Indicators_Medium.csv
WPP2019_Period_Indicators_OtherVariants.csv
WPP2019_PopulationByAgeSex_Medium.csv
WPP2019_PopulationByAgeSex_OtherVariants.csv
WPP2019_PopulationBySingleAgeSex.csv
WPP2019_TotalPopulationBySex.csv

In [89]:
df = etl.load_medium_csv('../source/csv/WPP2019_Period_Indicators_Medium.csv')

In [91]:
df.columns

Index(['LocID', 'Location', 'VarID', 'Variant', 'Time', 'MidPeriod', 'TFR',
       'NRR', 'CBR', 'Births', 'LEx', 'LExMale', 'LExFemale', 'IMR', 'Q5',
       'CDR', 'Deaths', 'DeathsMale', 'DeathsFemale', 'CNMR', 'NetMigrations',
       'GrowthRate', 'NatIncr', 'SRB', 'MAC'],
      dtype='object')

In [92]:
df = etl.load_medium_csv('../source/csv/WPP2019_LifeTable.csv')

In [93]:
df.columns

Index(['LocID', 'Location', 'VarID', 'Variant', 'Time', 'MidPeriod', 'SexID',
       'Sex', 'AgeGrp', 'AgeGrpStart', 'AgeGrpSpan', 'mx', 'qx', 'px', 'lx',
       'dx', 'Lx', 'Sx', 'Tx', 'ex', 'ax'],
      dtype='object')

In [94]:
df['AgeGrpSpan'].unique()

array([ 1,  4,  5, -1])

In [95]:
df['AgeGrp'].unique()

array(['0', '1-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34',
       '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69',
       '70-74', '75-79', '80-84', '85-89', '90-94', '95-99', '100+'],
      dtype=object)

In [96]:
df = etl.load_medium_csv('../source/csv/WPP2019_PopulationByAgeSex_Medium.csv')

In [97]:
df['AgeGrp'].unique()

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95-99', '100+'], dtype=object)

In [98]:
# how to handel age groups?

In [8]:
df = etl.read_un_csv('../source/csv/WPP2019_PopulationBySingleAgeSex.csv')

In [9]:
df.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2,Medium,1950,1950.5,0,0,1,139.669,154.913,294.581
1,4,Afghanistan,2,Medium,1950,1950.5,1,1,1,131.916,141.851,273.767
2,4,Afghanistan,2,Medium,1950,1950.5,2,2,1,125.127,130.632,255.759
3,4,Afghanistan,2,Medium,1950,1950.5,3,3,1,119.220,121.097,240.317
4,4,Afghanistan,2,Medium,1950,1950.5,4,4,1,114.112,113.085,227.198

In [103]:
df['VarID'].unique()

array([2])

In [104]:
df['AgeGrp'].unique()

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100])

In [106]:
df2 = etl.create_popbyage1yr(df)

In [107]:
df2.head()

   geo  time  age1yearinterval  population
0    4  1950                 0     294.581
1    4  1950                 1     273.767
2    4  1950                 2     255.759
3    4  1950                 3     240.317
4    4  1950                 4     227.198

In [112]:
loc[loc['Code'] == '25']['Location code']

1     1803
9     1802
16    1840
23    1828
Name: Location code, dtype: object

In [117]:
df[df['LocID'] == 1828]

Empty DataFrame
Columns: [LocID, Location, VarID, Variant, Time, MidPeriod, AgeGrp, AgeGrpStart, AgeGrpSpan, PopMale, PopFemale, PopTotal]
Index: []

In [13]:
etl.ENTITYDOMAINS['geo'] = etl.create_geo_domain(loc)
etl.create_popbyage1yr(df)

In [14]:
df = etl.read_un_csv('../source/csv/WPP2019_PopulationByAgeSex_Medium.csv')

In [15]:
df.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2,Medium,1950,1950.5,0-4,0,5,630.044,661.578,1291.622
1,4,Afghanistan,2,Medium,1950,1950.5,5-9,5,5,516.206,487.335,1003.540
2,4,Afghanistan,2,Medium,1950,1950.5,10-14,10,5,461.378,423.326,884.704
3,4,Afghanistan,2,Medium,1950,1950.5,15-19,15,5,414.369,369.363,783.732
4,4,Afghanistan,2,Medium,1950,1950.5,20-24,20,5,374.109,318.392,692.501

In [103]:
df = etl.read_un_csv('../source/csv/WPP2019_Period_Indicators_Medium.csv')

In [17]:
df.head()

,LocID,Location,VarID,Variant,Time,MidPeriod,TFR,NRR,CBR,Births,...,CDR,Deaths,DeathsMale,DeathsFemale,CNMR,NetMigrations,GrowthRate,NatIncr,SRB,MAC
0,4,Afghanistan,2,Medium,1950-1955,1953,7.45,1.636,50.314,2015.476,...,36.862,1476.605,794.020,682.585,-0.499,-20.0,1.296,13.452,1.06,29.835
1,4,Afghanistan,2,Medium,1955-1960,1958,7.45,1.765,50.998,2201.589,...,33.718,1455.605,783.110,672.495,-0.463,-20.0,1.683,17.280,1.06,29.835
2,4,Afghanistan,2,Medium,1960-1965,1963,7.45,1.899,51.477,2439.130,...,30.808,1459.784,777.437,682.347,-0.422,-20.0,2.026,20.669,1.06,29.835
3,4,Afghanistan,2,Medium,1965-1970,1968,7.45,2.017,51.646,2728.221,...,28.223,1490.896,790.745,700.151,-0.379,-20.0,2.307,23.423,1.06,29.835
4,4,Afghanistan,2,Medium,1970-1975,1973,7.45,2.141,51.234,3056.451,...,25.495,1520.938,802.414,718.524,-0.335,-20.0,2.544,25.739,1.06,29.835

In [104]:
# pre processing
df = df.drop(['Location', 'VarID', 'Variant', 'MidPeriod'], axis=1)
df['Time'] = df['Time'].map(lambda x: x.split('-')[0])

In [105]:
df = df.set_index(['LocID', 'Time'])

In [21]:
df.head()

             TFR    NRR     CBR    Births    LEx  LExMale  LExFemale      IMR  \
LocID Time
4     1950  7.45  1.636  50.314  2015.476  28.61    27.94      29.43  275.866
      1955  7.45  1.765  50.998  2201.589  31.13    30.43      31.97  253.647
      1960  7.45  1.899  51.477  2439.130  33.74    32.99      34.64  230.194
      1965  7.45  2.017  51.646  2728.221  36.15    35.37      37.06  211.072
      1970  7.45  2.141  51.234  3056.451  38.74    37.92      39.67  191.642

                 Q5     CDR    Deaths  DeathsMale  DeathsFemale   CNMR  \
LocID Time
4     1950  405.090  36.862  1476.605     794.020       682.585 -0.499
      1955  374.138  33.718  1455.605     783.110       672.495 -0.463
      1960  341.957  30.808  1459.784     777.437       682.347 -0.422
      1965  314.708  28.223  1490.896     790.745       700.151 -0.379
      1970  286.630  25.495  1520.938     802.414       718.524 -0.335

            NetMigrations  GrowthRate  NatIncr   SRB     MAC
LocID Time
4     1950          -20.0       1.296   13.452  1.06  29.835
      1955          -20.0       1.683   17.280  1.06  29.835
      1960          -20.0       2.026   20.669  1.06  29.835
      1965          -20.0       2.307   23.423  1.06  29.835
      1970          -20.0       2.544   25.739  1.06  29.835

In [106]:
etl.ENTITYDOMAINS['geo'] = etl.create_geo_domain(loc)
etl.create_period_indicators_gender(df)

In [107]:
df2 = df.drop(['DeathsMale', 'DeathsFemale', 'LExMale', 'LExFemale'], axis=1)

In [108]:
etl.ENTITYDOMAINS['geo'] = etl.create_geo_domain(loc)
etl.create_period_indicators(df2)

In [33]:
etl.get_dep_ratio_id("Annual total dep. ratio [(0-14 & 65+) / 15-64] (%)")

'total_dep_ratio_1564'

In [34]:
etl.get_dep_ratio_id("Annual old-age dep. ratio [65+ / 25-64] (%)")

'oldage_dep_ratio_2564'

In [36]:
etl.get_dep_ratio_id("Annual potential support ratio [20-69/70+]")

'potential_support_ratio_[2069'

In [48]:
dims = ["Country code", "Reference date (as of 1 July)"]

df = etl.merge_xls_variants('../source/WPP2019_INT_F02C_1_ANNUAL_POPULATION_INDICATORS_DEPENDENCY_RATIOS_BOTH_SEXES.xlsx', 'ESTIMATES', 'MEDIUM VARIANT', dims)

In [43]:
df.columns

Index(['Country code', 'Reference date (as of 1 July)', 'Index', 'Variant',
       'Region, subregion, country or area *', 'Notes', 'Type', 'Parent code',
       'Annual total dep. ratio [(0-14 & 65+) / 15-64] (%)',
       'Annual total dep. ratio [(0-19 & 65+) / 20-64] (%)',
       'Annual total dep. ratio [(0-19 & 70+) / 20-69] (%)',
       'Annual total dep. ratio [(0-24 & 70+) / 25-69] (%)',
       'Annual total dep. ratio [(0-24 & 65+) / 25-64] (%)',
       'Annual child dep. ratio [0-14 / 15-64] (%)',
       'Annual child dep. ratio [0-19 / 20-64] (%)',
       'Annual child dep. ratio [0-19 / 20-69] (%)',
       'Annual child dep. ratio [0-24 / 25-69] (%)',
       'Annual child dep. ratio [0-24 / 25-64] (%)',
       'Annual old-age dep. ratio [65+ / 15-64] (%)',
       'Annual old-age dep. ratio [65+ / 20-64] (%)',
       'Annual old-age dep. ratio [70+ / 20-69] (%)',
       'Annual old-age dep. ratio [70+ / 25-69] (%)',
       'Annual old-age dep. ratio [65+ / 25-64] (%)',
       'Annual potential support ratio [15-64/65+]',
       'Annual potential support ratio [20-64/65+]',
       'Annual potential support ratio [20-69/70+]',
       'Annual potential support ratio [25-69/70+]',
       'Annual potential support ratio [25-64/65+]'],
      dtype='object')

In [49]:
# preprocess
df = df[df['Type'] != 'Label/Separator']
df = df.drop(['Index', 'Variant', 
              'Region, subregion, country or area *', 
              'Notes', 'Type', 'Parent code'], axis=1)

In [45]:
df.columns

Index(['Country code', 'Reference date (as of 1 July)',
       'Annual total dep. ratio [(0-14 & 65+) / 15-64] (%)',
       'Annual total dep. ratio [(0-19 & 65+) / 20-64] (%)',
       'Annual total dep. ratio [(0-19 & 70+) / 20-69] (%)',
       'Annual total dep. ratio [(0-24 & 70+) / 25-69] (%)',
       'Annual total dep. ratio [(0-24 & 65+) / 25-64] (%)',
       'Annual child dep. ratio [0-14 / 15-64] (%)',
       'Annual child dep. ratio [0-19 / 20-64] (%)',
       'Annual child dep. ratio [0-19 / 20-69] (%)',
       'Annual child dep. ratio [0-24 / 25-69] (%)',
       'Annual child dep. ratio [0-24 / 25-64] (%)',
       'Annual old-age dep. ratio [65+ / 15-64] (%)',
       'Annual old-age dep. ratio [65+ / 20-64] (%)',
       'Annual old-age dep. ratio [70+ / 20-69] (%)',
       'Annual old-age dep. ratio [70+ / 25-69] (%)',
       'Annual old-age dep. ratio [65+ / 25-64] (%)',
       'Annual potential support ratio [15-64/65+]',
       'Annual potential support ratio [20-64/65+]',
       'Annual potential support ratio [20-69/70+]',
       'Annual potential support ratio [25-69/70+]',
       'Annual potential support ratio [25-64/65+]'],
      dtype='object')

In [52]:
etl.ENTITYDOMAINS['geo'] = etl.create_geo_domain(loc)
etl.create_dep_ratio_indicators(df)

In [54]:
etl.CONCEPTS.keys()

dict_keys(['total_dep_ratio_1564', 'total_dep_ratio_2064', 'total_dep_ratio_2069', 'total_dep_ratio_2569', 'total_dep_ratio_2564', 'child_dep_ratio_1564', 'child_dep_ratio_2064', 'child_dep_ratio_2069', 'child_dep_ratio_2569', 'child_dep_ratio_2564', 'oldage_dep_ratio_1564', 'oldage_dep_ratio_2064', 'oldage_dep_ratio_2069', 'oldage_dep_ratio_2569', 'oldage_dep_ratio_2564', 'potential_support_ratio_1564', 'potential_support_ratio_2064', 'potential_support_ratio_2069', 'potential_support_ratio_2569', 'potential_support_ratio_2564'])

In [56]:
cdf1 = pd.DataFrame.from_records([c.to_dict() for c in etl.CONCEPTS.values()])

In [62]:
print(cdf1.assign(domain='')[['concept', 'name', 'concept_type', 'domain']].to_csv(index=False))

concept,name,concept_type,domain
total_dep_ratio_1564,Annual total dep. ratio [(0-14 & 65+) / 15-64] (%),measure,
total_dep_ratio_2064,Annual total dep. ratio [(0-19 & 65+) / 20-64] (%),measure,
total_dep_ratio_2069,Annual total dep. ratio [(0-19 & 70+) / 20-69] (%),measure,
total_dep_ratio_2569,Annual total dep. ratio [(0-24 & 70+) / 25-69] (%),measure,
total_dep_ratio_2564,Annual total dep. ratio [(0-24 & 65+) / 25-64] (%),measure,
child_dep_ratio_1564,Annual child dep. ratio [0-14 / 15-64] (%),measure,
child_dep_ratio_2064,Annual child dep. ratio [0-19 / 20-64] (%),measure,
child_dep_ratio_2069,Annual child dep. ratio [0-19 / 20-69] (%),measure,
child_dep_ratio_2569,Annual child dep. ratio [0-24 / 25-69] (%),measure,
child_dep_ratio_2564,Annual child dep. ratio [0-24 / 25-64] (%),measure,
oldage_dep_ratio_1564,Annual old-age dep. ratio [65+ / 15-64] (%),measure,
oldage_dep_ratio_2064,Annual old-age dep. ratio [65+ / 20-64] (%),measure,
oldage_dep_ratio_2069,Annual old-age dep. ratio [70+ / 20-69] (%),measure,
oldage_dep_ratio_2569,Annual old-age dep. ratio [70+ / 25-69] (%),measure,
oldage_dep_ratio_2564,Annual old-age dep. ratio [65+ / 25-64] (%),measure,
potential_support_ratio_1564,Annual potential support ratio [15-64/65+],measure,
potential_support_ratio_2064,Annual potential support ratio [20-64/65+],measure,
potential_support_ratio_2069,Annual potential support ratio [20-69/70+],measure,
potential_support_ratio_2569,Annual potential support ratio [25-69/70+],measure,
potential_support_ratio_2564,Annual potential support ratio [25-64/65+],measure,

In [85]:
df = etl.merge_xls_variants('../source/WPP2019_MORT_F01_1_IMR_BOTH_SEXES.xlsx', 'ESTIMATES', 'MEDIUM VARIANT', dims=['Country code'], axis=1)

In [86]:
df.head()

,Country code,Index_x,Variant_x,"Region, subregion, country or area *_x",Notes_x,Type_x,Parent code_x,1950-1955,1955-1960,1960-1965,...,2050-2055,2055-2060,2060-2065,2065-2070,2070-2075,2075-2080,2080-2085,2085-2090,2090-2095,2095-2100
0,900,1,Estimates,WORLD,NaN,World,0,139.574,127.719,120.353,...,14.7832,13.7518,12.8616,12.0582,11.343,10.6976,10.1213,9.60881,9.15142,8.72298
1,1803,2,Estimates,UN development groups,a,Label/Separator,900,â€¦,â€¦,â€¦,...,â€¦,â€¦,â€¦,â€¦,â€¦,â€¦,â€¦,â€¦,â€¦,â€¦
2,901,3,Estimates,More developed regions,b,Development Group,1803,58.8711,42.9128,32.6987,...,1.88428,1.72183,1.58006,1.45237,1.33989,1.24075,1.15332,1.07508,1.00276,0.935446
3,902,4,Estimates,Less developed regions,c,Development Group,1803,158.67,146.942,137.478,...,16.0433,14.9177,13.9521,13.0905,12.3291,11.6422,11.0279,10.4798,9.99211,9.53825
4,941,5,Estimates,Least developed countries,d,Development Group,902,197.167,179.547,165.176,...,20.8644,19.2038,17.7767,16.5392,15.4747,14.5258,13.6738,12.9077,12.2303,11.598

In [87]:
df.columns

Index(['Country code', 'Index_x', 'Variant_x',
       'Region, subregion, country or area *_x', 'Notes_x', 'Type_x',
       'Parent code_x', '1950-1955', '1955-1960', '1960-1965', '1965-1970',
       '1970-1975', '1975-1980', '1980-1985', '1985-1990', '1990-1995',
       '1995-2000', '2000-2005', '2005-2010', '2010-2015', '2015-2020',
       'Index_y', 'Variant_y', 'Region, subregion, country or area *_y',
       'Notes_y', 'Type_y', 'Parent code_y', '2020-2025', '2025-2030',
       '2030-2035', '2035-2040', '2040-2045', '2045-2050', '2050-2055',
       '2055-2060', '2060-2065', '2065-2070', '2070-2075', '2075-2080',
       '2080-2085', '2085-2090', '2090-2095', '2095-2100'],
      dtype='object')

In [90]:
df = df[df['Type_x'] != 'Label/Separator']
to_drop_list = ['Index', 'Variant', 'Region, subregion, country or area *', 'Notes', 'Type', 'Parent code']
to_drop = list()
for d in to_drop_list:
    to_drop.append(d + '_x')
    to_drop.append(d + '_y')
df = df.drop(to_drop, axis=1)

In [91]:
df.columns

Index(['Country code', '1950-1955', '1955-1960', '1960-1965', '1965-1970',
       '1970-1975', '1975-1980', '1980-1985', '1985-1990', '1990-1995',
       '1995-2000', '2000-2005', '2005-2010', '2010-2015', '2015-2020',
       '2020-2025', '2025-2030', '2030-2035', '2035-2040', '2040-2045',
       '2045-2050', '2050-2055', '2055-2060', '2060-2065', '2065-2070',
       '2070-2075', '2075-2080', '2080-2085', '2085-2090', '2090-2095',
       '2095-2100'],
      dtype='object')

In [92]:
df.head()

,Country code,1950-1955,1955-1960,1960-1965,1965-1970,1970-1975,1975-1980,1980-1985,1985-1990,1990-1995,...,2050-2055,2055-2060,2060-2065,2065-2070,2070-2075,2075-2080,2080-2085,2085-2090,2090-2095,2095-2100
0,900,139.574,127.719,120.353,104.13,93.9948,84.8984,75.281,66.8724,62.9056,...,14.7832,13.7518,12.8616,12.0582,11.343,10.6976,10.1213,9.60881,9.15142,8.72298
2,901,58.8711,42.9128,32.6987,26.1798,21.3123,18.2828,15.1621,13.0444,10.5418,...,1.88428,1.72183,1.58006,1.45237,1.33989,1.24075,1.15332,1.07508,1.00276,0.935446
3,902,158.67,146.942,137.478,117.026,105.309,94.8485,83.6562,73.6743,69.1641,...,16.0433,14.9177,13.9521,13.0905,12.3291,11.6422,11.0279,10.4798,9.99211,9.53825
4,941,197.167,179.547,165.176,152.142,147.168,136.519,124.347,113.539,105.141,...,20.8644,19.2038,17.7767,16.5392,15.4747,14.5258,13.6738,12.9077,12.2303,11.598
5,934,153.225,142.07,133.352,111.643,98.2819,86.928,75.558,65.7344,60.8644,...,13.6973,12.7461,11.9434,11.2197,10.5755,9.99662,9.48413,9.03409,8.6341,8.26832

In [99]:
etl.create_mort_indicator(df, 'imr').head()

   geo  time freq      imr
0  900  1950  5yr  139.574
1  900  1955  5yr  127.719
2  900  1960  5yr  120.353
3  900  1965  5yr   104.13
4  900  1970  5yr  93.9948

In [100]:
# def cleanup_mort(df):
#     df = df[df['Type_x'] != 'Label/Separator']
#     to_drop_list = ['Index', 'Variant', 'Region, subregion, country or area *', 'Notes', 'Type', 'Parent code']
#     to_drop = list()
#     for d in to_drop_list:
#         to_drop.append(d + '_x')
#         to_drop.append(d + '_y')
#     df = df.drop(to_drop, axis=1)
#     return df

# mort_dict_1 = {'imr': '../source/WPP2019_MORT_F01_1_IMR_BOTH_SEXES.xlsx'}

In [124]:
df = etl.merge_xls_variants('../source/WPP2019_INT_F01_ANNUAL_DEMOGRAPHIC_INDICATORS.xlsx', 'ESTIMATES', 'MEDIUM VARIANT', dims=['Country code', 'Reference date (1 January - 31 December)'])

In [102]:
df.columns

Index(['Country code', 'Reference date (1 January - 31 December)', 'Index',
       'Variant', 'Region, subregion, country or area *', 'Notes', 'Type',
       'Parent code', 'Deaths (thousands)', 'Male deaths (thousands)',
       'Female deaths (thousands)',
       'Crude death rate (deaths per 1,000 population)',
       'Life expectancy at birth, both sexes combined (years)',
       'Life expectancy at birth, males (years)',
       'Life expectancy at birth, females (years)',
       'Infant deaths, both sexes combined (under age 1, thousands)',
       'Infant mortality rate (infant deaths per 1,000 live births)',
       'Under-five mortality (deaths under age 5 per 1,000 live births)',
       'Births (thousands)', 'Crude birth rate (births per 1,000 population)',
       'Total fertility (live births per woman)',
       'Total population natural change / increase (thousands)',
       'Rate of natural increase (per 1,000 population)',
       'Population change (thousands)', 'Population growth rate (percentage)'],
      dtype='object')

In [126]:
import os

meta = pd.read_excel('../source/metadata.xlsx', sheet_name='New').set_index('file')

for f in sorted(os.listdir('../source')):
    if f == 'WPP2019_F01_LOCATIONS.XLSX':
        continue
    if f.lower().endswith('xlsx') and f.startswith('WPP2019'):
        if 'FEMALE' in f:
            print('female')
        elif 'MALE' in f:
            print('male')
        else:
            print('')

male
female

male
female

male
female

male
female




male
female

male
female

male
female

male
female

male
female

male
female

male
female

male
female

male
female

male
female

male
female

male
female

male
female

male
female

male
female

male
female






male
female

male
female

male
female























male
female

In [125]:
for c in df.columns:
    print(c)

Country code
Reference date (1 January - 31 December)
Index
Variant
Region, subregion, country or area *
Notes
Type
Parent code
Deaths (thousands)
Male deaths (thousands)
Female deaths (thousands)
Crude death rate (deaths per 1,000 population)
Life expectancy at birth, both sexes combined (years)
Life expectancy at birth, males (years)
Life expectancy at birth, females (years)
Infant deaths, both sexes combined (under age 1, thousands)
Infant mortality rate (infant deaths per 1,000 live births)
Under-five mortality (deaths under age 5 per 1,000 live births)
Births (thousands)
Crude birth rate (births per 1,000 population)
Total fertility (live births per woman)
Total population natural change / increase (thousands)
Rate of natural increase (per 1,000 population)
Population change (thousands)
Population growth rate (percentage)

In [128]:
meta = pd.read_excel('../source/metadata.xlsx', sheet_name='New')

In [129]:
meta['indicator'].unique()

array(['adult_mortality_35q15', 'adult_mortality_45q15', 'births', 'cbr',
       'cdr', 'deaths', 'imr', 'lex', 'lex_at_15', 'lex_at_60',
       'lex_at_80', 'mac', 'natural_increase_rate', 'nrr',
       'population_rate_of_change', 'sex_ratio', 'tfr', 'u40mr', 'u5mr',
       'u60mr', 'child_dependency_ratio_1564',
       'child_dependency_ratio_2064', 'child_dependency_ratio_2069',
       'child_dependency_ratio_2564', 'child_dependency_ratio_2569',
       'median_age', 'old_dependency_ratio_1564',
       'old_dependency_ratio_2064', 'old_dependency_ratio_2069',
       'old_dependency_ratio_2564', 'old_dependency_ratio_2569',
       'potential_support_ratio_1564', 'potential_support_ratio_2064',
       'potential_support_ratio_2069', 'potential_support_ratio_2564',
       'potential_support_ratio_2569', 'total_dependency_ratio_1564',
       'total_dependency_ratio_2064', 'total_dependency_ratio_2069',
       'total_dependency_ratio_2564', 'total_dependency_ratio_2569',
       'population', 'population_density', 'fertility_rate',
       'death_percentage', 'feminity_ratio', 'population_percentage',
       'survivors', '-'], dtype=object)

In [130]:
gs = meta.groupby(['indicator', 'type', 'freq'])

In [133]:
list(gs.groups.keys())

[('-', 'multipleindicator', '1yr'),
 ('-', 'multipleindicator', '5yr'),
 ('adult_mortality_35q15', 'year5incolumn', '5yr'),
 ('adult_mortality_45q15', 'year5incolumn', '5yr'),
 ('births', 'age5incolumn', '5yr'),
 ('births', 'year5incolumn', '5yr'),
 ('cbr', 'year5incolumn', '5yr'),
 ('cdr', 'year5incolumn', '5yr'),
 ('child_dependency_ratio_1564', 'year5incolumn', '5yr'),
 ('child_dependency_ratio_2064', 'year5incolumn', '5yr'),
 ('child_dependency_ratio_2069', 'year5incolumn', '5yr'),
 ('child_dependency_ratio_2564', 'year5incolumn', '5yr'),
 ('child_dependency_ratio_2569', 'year5incolumn', '5yr'),
 ('death_percentage', 'ageboardincolumn', '5yr'),
 ('deaths', 'age5incolumn', '5yr'),
 ('deaths', 'ageboardincolumn', '5yr'),
 ('deaths', 'year5incolumn', '5yr'),
 ('feminity_ratio', 'ageboardincolumn', '1yr'),
 ('fertility_rate', 'age5incolumn', '5yr'),
 ('imr', 'year5incolumn', '5yr'),
 ('lex', 'age1incolumn', '5yr'),
 ('lex', 'year5incolumn', '5yr'),
 ('lex_at_15', 'year5incolumn', '5yr'),
 ('lex_at_60', 'year5incolumn', '5yr'),
 ('lex_at_80', 'year5incolumn', '5yr'),
 ('mac', 'year5incolumn', '5yr'),
 ('median_age', 'year1incolumn', '1yr'),
 ('natural_increase_rate', 'year5incolumn', '5yr'),
 ('nrr', 'year5incolumn', '5yr'),
 ('old_dependency_ratio_1564', 'year5incolumn', '5yr'),
 ('old_dependency_ratio_2064', 'year5incolumn', '5yr'),
 ('old_dependency_ratio_2069', 'year5incolumn', '5yr'),
 ('old_dependency_ratio_2564', 'year5incolumn', '5yr'),
 ('old_dependency_ratio_2569', 'year5incolumn', '5yr'),
 ('population', 'age1incolumn', '1yr'),
 ('population', 'ageboardincolumn', '1yr'),
 ('population', 'year1incolumn', '1yr'),
 ('population_density', 'year1incolumn', '1yr'),
 ('population_percentage', 'ageboardincolumn', '1yr'),
 ('population_rate_of_change', 'year5incolumn', '5yr'),
 ('potential_support_ratio_1564', 'year5incolumn', '5yr'),
 ('potential_support_ratio_2064', 'year5incolumn', '5yr'),
 ('potential_support_ratio_2069', 'year5incolumn', '5yr'),
 ('potential_support_ratio_2564', 'year5incolumn', '5yr'),
 ('potential_support_ratio_2569', 'year5incolumn', '5yr'),
 ('sex_ratio', 'ageboardincolumn', '1yr'),
 ('sex_ratio', 'year1incolumn', '1yr'),
 ('sex_ratio', 'year5incolumn', '5yr'),
 ('survivors', 'age1incolumn', '5yr'),
 ('tfr', 'year5incolumn', '5yr'),
 ('total_dependency_ratio_1564', 'year5incolumn', '5yr'),
 ('total_dependency_ratio_2064', 'year5incolumn', '5yr'),
 ('total_dependency_ratio_2069', 'year5incolumn', '5yr'),
 ('total_dependency_ratio_2564', 'year5incolumn', '5yr'),
 ('total_dependency_ratio_2569', 'year5incolumn', '5yr'),
 ('u40mr', 'year5incolumn', '5yr'),
 ('u5mr', 'year5incolumn', '5yr'),
 ('u60mr', 'year5incolumn', '5yr')]

In [152]:
df = etl.merge_xls_variants('../source/WPP2019_MORT_F10_2_Q1535_MALE.xlsx',
                            'ESTIMATES', 'MEDIUM VARIANT',
                            dims=['Country code'],
                            axis=1)

In [156]:
drop_cols = ['Index', 'Variant', 'Region, subregion, country or area *',
             'Notes', 'Type', 'Parent code']
rename = {'Country code': 'geo'}

etl.standardise_yearincolumn(df, ['geo'], 'q1535',
                             fiveyr=True,
                             drop_columns=drop_cols, rename=rename).head()

   geo  time    q1535
0  900  1950  257.979
1  900  1955  233.446
2  900  1960  215.085
3  900  1965  175.398
4  900  1970   149.38

In [157]:
df = etl.merge_xls_variants('../source/WPP2019_FERT_F06_BIRTHS_BY_AGE_OF_MOTHER.xlsx',
                            'ESTIMATES', 'MEDIUM VARIANT', dims=['Country code', 'Period'])

In [158]:
df.head()

,Country code,Period,Index,Variant,"Region, subregion, country or area *",Notes,Type,Parent code,15-19,20-24,25-29,30-34,35-39,40-44,45-49
0,900,1950-1955,1,Estimates,WORLD,NaN,World,0,52389.6,131437,128224,90084.5,57445.3,25336.6,5374.7
1,900,1955-1960,2,Estimates,WORLD,NaN,World,0,53365.4,139135,135460,97047.8,58691.3,25205,5457.9
2,900,1960-1965,3,Estimates,WORLD,NaN,World,0,58348.8,150357,147994,106982,65877.1,26389.1,5453.73
3,900,1965-1970,4,Estimates,WORLD,NaN,World,0,66397.2,164511,154891,111945,67373.5,27876.8,5603.5
4,900,1970-1975,5,Estimates,WORLD,NaN,World,0,70069.3,184659,160351,103974,61965.6,25493.6,5591.79

In [159]:
df['Type'].unique()

array(['World', 'Development Group', 'Special other', 'Income Group',
       'Region', 'SDG region', 'Subregion', 'Country', 'SDG subregion'],
      dtype=object)

In [164]:
rename['Period'] = 'time'

etl.standardise_ageincolumn(df, ['geo', 'time'], 'test',
                            age='age5yearinterval', fiveyr=True,
                            rename=rename, drop_columns=drop_cols).head()

   geo  time age5yearinterval     test
0  900  1950            15_19  52389.6
1  900  1950            20_24   131437
2  900  1950            25_29   128224
3  900  1950            30_34  90084.5
4  900  1950            35_39  57445.3

In [165]:
df = etl.merge_xls_variants('../source/WPP2019_POP_F08_1_TOTAL_POPULATION_BY_BROAD_AGE_GROUP_BOTH_SEXES.xlsx',
                            'ESTIMATES', 'MEDIUM VARIANT', dims=['Country code', 'Reference date (as of 1 July)'])

In [166]:
drop_cols.append('Total')

In [168]:
rename['Reference date (as of 1 July)'] = 'time'

etl.standardise_ageincolumn(df, ['geo', 'time'], 'test',
                            age='agebroad', fiveyr=False,
                            rename=rename, drop_columns=drop_cols).tail()

        geo  time agebroad     test
435731  840  2100   70plus  96912.7
435732  840  2100   75plus    74144
435733  840  2100   80plus  53035.7
435734  840  2100   85plus  34417.6
435735  840  2100   90plus  18743.9

In [169]:
rename['Reference date (1 January - 31 December)'] = 'time'

df = etl.merge_xls_variants('../source/WPP2019_INT_F01_ANNUAL_DEMOGRAPHIC_INDICATORS.xlsx',
                            'ESTIMATES', 'MEDIUM VARIANT',
                            dims=['Country code', 'Reference date (1 January - 31 December)'])

In [174]:
res = etl.standardise_multiindicator(df, ['geo', 'time'], rename, drop_cols)

In [175]:
rename

{'Country code': 'geo',
 'Period': 'time',
 'Reference date (as of 1 July)': 'time',
 'Reference date (1 January - 31 December)': 'time'}

In [216]:
etl.main()

('-', 'multipleindicator', '1yr')
('-', 'multipleindicator', '5yr')
('adult_mortality_q1535', 'year5incolumn', '5yr')
exists
exists
('adult_mortality_q1545', 'year5incolumn', '5yr')
exists
exists
('births', 'age5incolumn', '5yr')
exists
('births', 'year5incolumn', '5yr')
exists
('cbr', 'year5incolumn', '5yr')
exists
('cdr', 'year5incolumn', '5yr')
exists
('child_dependency_ratio_1564', 'year5incolumn', '5yr')
exists
('child_dependency_ratio_2064', 'year5incolumn', '5yr')
exists
('child_dependency_ratio_2069', 'year5incolumn', '5yr')
exists
('child_dependency_ratio_2564', 'year5incolumn', '5yr')
exists
('child_dependency_ratio_2569', 'year5incolumn', '5yr')
exists
('death_percentage', 'agebroadincolumn', '5yr')
exists
exists
('deaths', 'age5incolumn', '5yr')
exists
exists
('deaths', 'agebroadincolumn', '5yr')
exists
exists
('deaths', 'year5incolumn', '5yr')
exists
exists
('feminity_ratio', 'agebroadincolumn', '1yr')
exists
('fertility_rate', 'age5incolumn', '5yr')
exists
('imr', 'year5incolumn', '5yr')
exists
('lex', 'age1incolumn', '5yr')
exists
exists
('lex', 'year5incolumn', '5yr')
exists
exists
('lex_at_15', 'year5incolumn', '5yr')
exists
exists
('lex_at_60', 'year5incolumn', '5yr')
exists
exists
('lex_at_80', 'year5incolumn', '5yr')
exists
exists
('mac', 'year5incolumn', '5yr')
exists
('median_age', 'year1incolumn', '1yr')
exists
('natural_increase_rate', 'year5incolumn', '5yr')
exists
('nrr', 'year5incolumn', '5yr')
exists
('old_dependency_ratio_1564', 'year5incolumn', '5yr')
exists
('old_dependency_ratio_2064', 'year5incolumn', '5yr')
exists
('old_dependency_ratio_2069', 'year5incolumn', '5yr')
exists
('old_dependency_ratio_2564', 'year5incolumn', '5yr')
exists
('old_dependency_ratio_2569', 'year5incolumn', '5yr')
exists
('population', 'age1incolumn', '1yr')
exists
exists
('population', 'age5incolumn', '1yr')
exists
exists
('population', 'age5incolumn', '5yr')
exists
exists
('population', 'agebroadincolumn', '1yr')
exists
exists
('population', 'agebroadincolumn', '5yr')
exists
exists
('population', 'year1incolumn', '1yr')
exists
exists
('population_density', 'year1incolumn', '1yr')
exists
('population_percentage', 'agebroadincolumn', '1yr')
../source/WPP2019_INT_F02B_1_ANNUAL_POPULATION_INDICATORS_PERCENTAGE_BOTH_SEXES.xlsx

../source/WPP2019_INT_F02B_2_ANNUAL_POPULATION_INDICATORS_PERCENTAGE_MALE.xlsx

../source/WPP2019_INT_F02B_3_ANNUAL_POPULATION_INDICATORS_PERCENTAGE_FEMALE.xlsx

('population_percentage', 'agebroadincolumn', '5yr')
../source/WPP2019_POP_F09_1_PERCENTAGE_OF_TOTAL_POPULATION_BY_BROAD_AGE_GROUP_BOTH_SEXES.xlsx

../source/WPP2019_POP_F09_2_PERCENTAGE_OF_TOTAL_POPULATION_BY_BROAD_AGE_GROUP_MALE.xlsx

../source/WPP2019_POP_F09_3_PERCENTAGE_OF_TOTAL_POPULATION_BY_BROAD_AGE_GROUP_FEMALE.xlsx

('population_rate_of_change', 'year5incolumn', '5yr')
../source/WPP2019_POP_F02_POPULATION_GROWTH_RATE.xlsx

('potential_support_ratio_1564', 'year5incolumn', '5yr')
../source/WPP2019_POP_F14_A_POTENTIAL_SUPPORT_RATIO_1564_65.xlsx

('potential_support_ratio_2064', 'year5incolumn', '5yr')
../source/WPP2019_POP_F14_B_POTENTIAL_SUPPORT_RATIO_2064_65.xlsx

('potential_support_ratio_2069', 'year5incolumn', '5yr')
../source/WPP2019_POP_F14_C_POTENTIAL_SUPPORT_RATIO_2069_70.xlsx

('potential_support_ratio_2564', 'year5incolumn', '5yr')
../source/WPP2019_POP_F14_D_POTENTIAL_SUPPORT_RATIO_2564_65.xlsx

('potential_support_ratio_2569', 'year5incolumn', '5yr')
../source/WPP2019_POP_F14_E_POTENTIAL_SUPPORT_RATIO_2569_70.xlsx

('sex_ratio', 'agebroadincolumn', '1yr')
../source/WPP2019_POP_F10_1_SEX_RATIO_BY_BROAD_AGE_GROUP.xlsx

('sex_ratio', 'year1incolumn', '1yr')
../source/WPP2019_POP_F04_SEX_RATIO_OF_TOTAL_POPULATION.xlsx

('sex_ratio', 'year5incolumn', '5yr')
../source/WPP2019_FERT_F02_SEX_RATIO_AT_BIRTH.xlsx

('survivors', 'age1incolumn', '5yr')
../source/WPP2019_MORT_F15_1_LIFE_TABLE_SURVIVORS_BOTH_SEXES.xlsx

../source/WPP2019_MORT_F15_2_LIFE_TABLE_SURVIVORS_MALE.xlsx

../source/WPP2019_MORT_F15_3_LIFE_TABLE_SURVIVORS_FEMALE.xlsx

('tfr', 'year5incolumn', '5yr')
../source/WPP2019_FERT_F04_TOTAL_FERTILITY.xlsx

('total_dependency_ratio_1564', 'year5incolumn', '5yr')
../source/WPP2019_POP_F11_A_TOTAL_DEPENDENCY_RATIO_1564.xlsx

('total_dependency_ratio_2064', 'year5incolumn', '5yr')
../source/WPP2019_POP_F11_B_TOTAL_DEPENDENCY_RATIO_2064.xlsx

('total_dependency_ratio_2069', 'year5incolumn', '5yr')
../source/WPP2019_POP_F11_C_TOTAL_DEPENDENCY_RATIO_2069.xlsx

('total_dependency_ratio_2564', 'year5incolumn', '5yr')
../source/WPP2019_POP_F11_D_TOTAL_DEPENDENCY_RATIO_2564.xlsx

('total_dependency_ratio_2569', 'year5incolumn', '5yr')
../source/WPP2019_POP_F11_E_TOTAL_DEPENDENCY_RATIO_2569.xlsx

('u40mr', 'year5incolumn', '5yr')
../source/WPP2019_MORT_F08_1_Q0040_BOTH_SEXES.xlsx

../source/WPP2019_MORT_F08_2_Q0040_MALE.xlsx

../source/WPP2019_MORT_F08_3_Q0040_FEMALE.xlsx

('u5mr', 'year5incolumn', '5yr')
../source/WPP2019_MORT_F01_2_Q5_BOTH_SEXES.xlsx

('u60mr', 'year5incolumn', '5yr')
../source/WPP2019_MORT_F09_1_Q0060_BOTH_SEXES.xlsx

../source/WPP2019_MORT_F09_2_Q0060_MALE.xlsx

../source/WPP2019_MORT_F09_3_Q0060_FEMALE.xlsx

In [196]:
filename = '../source/WPP2019_POP_F10_2_FEMINITY_RATIO_BY_BROAD_AGE_GROUP.xlsx'
data = etl.merge_xls_variants(filename, 'ESTIMATES', 'MEDIUM VARIANT',
                              dims=['Country code', 'Reference date (as of 1 July)'])

In [199]:
df = etl.standardise_ageincolumn(data, ['geo', 'time'], 'test', age='agebroad', drop_columns=drop_cols, rename=rename)

In [200]:
df.head()

   geo  time agebroad     test
0  900  1950      0_1  96.6822
1  900  1950      0_4  96.3211
2  900  1950     0_14  95.6797
3  900  1950     0_17  95.7163
4  900  1950     0_19    95.76

In [214]:
(pd.read_excel('../source/metadata.xlsx', sheet_name='BroadAgeMap')
                         .set_index('name')['agebroad'].to_dict())['Population under age 2']

'0_1'

In [222]:
etl.main()

In [229]:
print(meta.groupby(['indicator'])['table_name'].first().reset_index().assign(concept_type='measure').to_csv(index=False))

indicator,table_name,concept_type
-,Dependency ratios (both sexes combined) for different age groups,measure
adult_mortality_35q15,"Adult mortality between age 15 and 50, 35q15, for both sexes combined (deaths under age 50 per 1,000 alive at age 15)",measure
adult_mortality_45q15,"Adult mortality between age 15 and 60, 45q15, for both sexes combined (deaths under age 60 per 1,000 alive at age 15)",measure
births,"Number of births, both sexes combined (thousands)",measure
cbr,"Crude birth rate (births per 1,000 population)",measure
cdr,"Crude death rate (deaths per 1,000 population)",measure
child_dependency_ratio_1564,Child dependency ratio (ratio of population aged 0-14 per 100 population 15-64),measure
child_dependency_ratio_2064,Child dependency ratio (ratio of population aged 0-19 per 100 population 20-64),measure
child_dependency_ratio_2069,Child dependency ratio (ratio of population aged 0-19 per 100 population 20-69),measure
child_dependency_ratio_2564,Child dependency ratio (ratio of population aged 0-24 per 100 population 25-64),measure
child_dependency_ratio_2569,Child dependency ratio (ratio of population aged 0-24 per 100 population 25-69),measure
death_percentage,"Percentage of total deaths by broad age group, both sexes combined (per 100 total population)",measure
deaths,"Number of deaths, both sexes combined (thousands)",measure
feminity_ratio,Feminity ratio by broad age group (females per 100 males by age group),measure
fertility_rate,"Age-specific fertility rates (births per 1,000 women)",measure
imr,"Infant mortality rate, 1q0, for both sexes combined (infant deaths per 1,000 live births)",measure
lex,Life expectancy at birth for both sexes combined (years),measure
lex_at_15,Life expectancy at age 15 for both sexes combined (years),measure
lex_at_60,Life expectancy at age 60 for both sexes combined (years),measure
lex_at_80,Life expectancy at age 80 for both sexes combined (years),measure
mac,Mean age of childbearing (years),measure
median_age,Median age of the total population (years),measure
natural_increase_rate,"Rate of natural increase (per 1,000 population)",measure
nrr,Net reproduction rate (surviving daughters per woman),measure
old_dependency_ratio_1564,Old-age dependency ratio (ratio of population aged 65+ per 100 population 15-64),measure
old_dependency_ratio_2064,Old-age dependency ratio (ratio of population aged 65+ per 100 population 20-64),measure
old_dependency_ratio_2069,Old-age dependency ratio (ratio of population aged 70+ per 100 population 20-69),measure
old_dependency_ratio_2564,Old-age dependency ratio (ratio of population aged 65+ per 100 population 25-64),measure
old_dependency_ratio_2569,Old-age dependency ratio (ratio of population aged 70+ per 100 population 25-69),measure
population,"Total population, both sexes combined, as of 1 July (thousands)",measure
population_density,"Population density (persons per square km), as of 1 July",measure
population_percentage,"Percentage of total population by broad age group, both sexes  (per 100 total population)",measure
population_rate_of_change,Average annual rate of population change (percentage),measure
potential_support_ratio_1564,Potential support ratio (ratio of population aged 15-64 per population 65+),measure
potential_support_ratio_2064,Potential support ratio (ratio of population aged 20-64 per population 65+),measure
potential_support_ratio_2069,Potential support ratio (ratio of population aged 20-69 per population 70+),measure
potential_support_ratio_2564,Potential support ratio (ratio of population aged 25-64 per population 65+),measure
potential_support_ratio_2569,Potential support ratio (ratio of population aged 25-69 per population 70+),measure
sex_ratio,Sex ratio at birth (male births per female births),measure
survivors,"Life table survivors, l(x), at exact age (x), both sexes",measure
tfr,Total fertility (live births per woman),measure
total_dependency_ratio_1564,Total dependency ratio (ratio of population aged 0-14 and 65+ per 100 population 15-64),measure
total_dependency_ratio_2064,Total dependency ratio (ratio of population aged 0-19 and 65+ per 100 population 20-64),measure
total_dependency_ratio_2069,Total dependency ratio (ratio of population aged 0-19 and 70+ per 100 population 20-69),measure
total_dependency_ratio_2564,Total dependency ratio (ratio of population aged 0-24 and 65+ per 100 population 25-64),measure
total_dependency_ratio_2569,Total dependency ratio (ratio of population aged 0-24 and 70+ per 100 population 25-69),measure
u40mr,"Under-forty mortality, 40q0, for both sexes combined (deaths under age 40 per 1,000 live births)",measure
u5mr,"Under-five mortality, 5q0, for both sexes combined (deaths under age five per 1,000 live births)",measure
u60mr,"Under-sixty mortality, 60q0, for both sexes combined (deaths under age 60 per 1,000 live births)",measure

In [230]:
m2 = pd.read_excel('../source/metadata.xlsx', sheet_name='DependencyFormat')

In [232]:
print(m2[['indicator', 'name']].assign(concept_type='measure').to_csv(index=False))

indicator,name,concept_type
total_dependency_ratio_1564,Annual total dep. ratio [(0-14 & 65+) / 15-64] (%),measure
total_dependency_ratio_2064,Annual total dep. ratio [(0-19 & 65+) / 20-64] (%),measure
total_dependency_ratio_2069,Annual total dep. ratio [(0-19 & 70+) / 20-69] (%),measure
total_dependency_ratio_2564,Annual total dep. ratio [(0-24 & 65+) / 25-64] (%),measure
total_dependency_ratio_2569,Annual total dep. ratio [(0-24 & 70+) / 25-69] (%),measure
child_dependency_ratio_1564,Annual child dep. ratio [0-14 / 15-64] (%),measure
child_dependency_ratio_2064,Annual child dep. ratio [0-19 / 20-64] (%),measure
child_dependency_ratio_2069,Annual child dep. ratio [0-19 / 20-69] (%),measure
child_dependency_ratio_2564,Annual child dep. ratio [0-24 / 25-69] (%),measure
child_dependency_ratio_2569,Annual child dep. ratio [0-24 / 25-64] (%),measure
old_dependency_ratio_1564,Annual old-age dep. ratio [65+ / 15-64] (%),measure
old_dependency_ratio_2064,Annual old-age dep. ratio [65+ / 20-64] (%),measure
old_dependency_ratio_2069,Annual old-age dep. ratio [70+ / 20-69] (%),measure
old_dependency_ratio_2564,Annual old-age dep. ratio [70+ / 25-69] (%),measure
old_dependency_ratio_2569,Annual old-age dep. ratio [65+ / 25-64] (%),measure
potential_support_ratio_1564,Annual potential support ratio [15-64/65+],measure
potential_support_ratio_2064,Annual potential support ratio [20-64/65+],measure
potential_support_ratio_2069,Annual potential support ratio [20-69/70+],measure
potential_support_ratio_2564,Annual potential support ratio [25-69/70+],measure
potential_support_ratio_2569,Annual potential support ratio [25-64/65+],measure

In [233]:
m3 = pd.read_excel('../source/metadata.xlsx', sheet_name='DemographyFormat')

In [237]:
d = list(set(m3['indicator'].values) - set(meta['indicator'].values))

In [240]:
print(m3[m3['indicator'].isin(d)][['indicator', 'name']].assign(concept_type='measure').to_csv(index=False))

indicator,name,concept_type
infant_deaths,"Infant deaths, both sexes combined (under age 1, thousands)",measure
population_natural_change,Total population natural change / increase (thousands),measure
natincr,"Rate of natural increase (per 1,000 population)",measure
population_change,Population change (thousands),measure
growthrate,Population growth rate (percentage),measure

In [241]:
agebroad = pd.read_excel('../source/metadata.xlsx', sheet_name='BroadAgeMap')

In [243]:
print(agebroad[['agebroad', 'name']].to_csv(index=False))

agebroad,name
0,Alive between birth and age 1
0_1,Population under age 2
0_4,Population under age 5
0_14,Population under age 15
0_17,Population under age 18
0_19,Population under age 20
0_24,Population under age 25
3_4,Population aged 3-4
3_5,Population aged 3-5
3_6,Population aged 3-6
4_5,Population aged 4-5
4_6,Population aged 4-6
5_14,Population aged 5-14
5_10,Population aged 5-10
5_11,Population aged 5-11
6_9,Population aged 6-9
6_10,Population aged 6-10
6_11,Population aged 6-11
6_12,Population aged 6-12
7_10,Population aged 7-10
7_12,Population aged 7-12
11_16,Population aged 11-16
11_17,Population aged 11-17
11_18,Population aged 11-18
12_14,Population aged 12-14
12_16,Population aged 12-16
12_17,Population aged 12-17
12_18,Population aged 12-18
13_17,Population aged 13-17
13_18,Population aged 13-18
13_19,Population aged 13-19
15_17,Population aged 15-17
18_23,Population aged 18-23
15_24,Population aged 15-24
15_49,Population aged 15-49
15_59,Population aged 15-59
15_64,Population aged 15-64
20_64,Population aged 20-64
20_69,Population aged 20-69
25_49,Population aged 25-49
25_64,Population aged 25-64
25_69,Population aged 25-69
15plus,Population aged 15 or over
16plus,Population aged 16 or over
17plus,Population aged 17 or over
18plus,Population aged 18 or over
20plus,Population aged 20 or over
21plus,Population aged 21 or over
25plus,Population aged 25 or over
50plus,Population aged 50 or over
60plus,Population aged 60 or over
65plus,Population aged 65 or over
70plus,Population aged 70 or over
75plus,Population aged 75 or over
80plus,Population aged 80 or over
85plus,Population aged 85 or over
90plus,Population aged 90 or over
total,Total